:root {
    --darkblue-color: darkblue;
    --auto-heigh: auto;
    --padding: 1px;
    --gray-color: gray;
    --black20-color: rgba(0, 0, 0, 0.2);
}

nav {
    background-color: var(--darkblue-color);
    padding: 10px;
}

nav a {
    color: var(--gray-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--darkblue-color)
}

img {
    width: 150px;
    height: var(--auto-heigh);
    padding: 2px;
    box-shadow: 0 0 30px var(--gray-color);
}

p {
    padding: 0px;
}

/* Main */
main {
    max-width: 500px;
}

main img {
    width: 150px;
    height: var(--auto-heigh);
}

/* Aside */
aside {
    width: 20rem;
    margin: 15px;
    border: 3px solid var(--black20-color);
    padding: 2rem;
    background-color: #eee;
    color: var(--gray-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: var(--auto-heigh);
}

/* Footer */

footer {
    margin-top: 10px;
    border-top: 1px dotted var(--darkblue-color);
    text-align: center;
    font-size: 18px;
}