:root {
    --darkblue-color: darkblue;
    --auto-heigh: auto;
    --padding: 1px;
    --gray-color: gray;
    --black20-color: rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    background-color: var(--darkblue-color);
    padding: 10px;
}

nav a {
    color: var(--gray-color);
    display: block;
    padding: 20px;
}

h1 {
    padding: 0.5rem 0;
    color: var(--darkblue-color)
}

img {
    width: 150px;
    height: var(--auto-heigh);
    padding: 2px;
    box-shadow: 0 0 30px var(--gray-color);
}

p {
    margin: 1rem;
}

/* Main */
main {
    max-width: 500px;
}

main img {
    height: var(--auto-heigh);
    float: right;
    margin: 0 0 1rem 1rem;
}

/* Aside */
aside {
    position: relative;
    width: 20em;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 4.9rem;
    left: 3.7rem;
    color: navy;
}

aside img {
    width: 200px;
    height: var(--auto-heigh);
}

/* Footer */

footer {
    margin-top: 10px;
    border-top: 1px dotted var(--darkblue-color);
    text-align: center;
    font-size: 18px;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 2px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.indent {
    padding-left: 2rem;
}

